@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

html {
  overflow: hidden;
}
header {
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding-top: 5%;
  z-index: 10;
  filter: drop-shadow(5px 5px 1px yellow);
}

/* #parallax { */
/* Set a specific height */
/* margin: 25%; */
/* min-height: 500px; */

/* Create the parallax scrolling effect */
/* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
} */

.gif {
  height: 50vh;
}

.gif-block {
  display: inline-block;
  /* border: 1px solid black; */
  padding: 15px;
  /* width: 275px; */
  text-align: center;
  margin: -13%;
}

#gif-container {
  margin: 15% 25% 0;
  text-align: center;
  z-index: -5;
  position: absolute;
  top: -15%;
  left: -25%;
}

button {
  margin-top: 3%;
  padding: 5px 20px 5px;
  margin-bottom: 3%;
}
input {
  padding: 5px 20px 5px;
}

@media only screen and (min-width: 200px) {
  header {
    max-width: fit-content;
    max-height: fit-content;
    line-height: 15vh;
  }
}
